:root {
  --left-msg-bg: #ececec;
  --right-msg-bg: #579ffb;
}


body , html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  min-height: 100%;
  width: 100%;
  background-color : var(--global-color-bg);

}

*{
  color: var(--global-color-fg);
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}



.nav_bar{
   height:50px;
   width:100%;  /* Fixed height for the header */
   display: flex; /* Flexbox for layout */
   background-image: linear-gradient(0deg, var(--global-color-bg) 0px, rgba(0, 0, 0, 0.8) 100%);
   transition: all .5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.profile-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-picture {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
}




.logo {
  text-decoration: overline;
  font-style: italic;
  color: rgb(0, 206, 206);
  cursor: pointer;
  margin: 0 0.5rem;
  display: flex;
  align-items: center; /* Center items vertically */

}


.search_container {
    height: 100%;
    width:  50%;
    flex-grow: 1;
    display: flex; /* Flexbox for the search bar and button */
    justify-content: center; /* Center the items within the container */
    align-items: center; /* Align items vertically within the container */

}

.search_input {
    height: 20%;
    width:  100%;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
    outline: none;
    text-align: center; /* Center the text horizontally */
    background-color:transparent;
    color: black;
}


.search_input:hover {
    border-color: yellow; /* Border color on hover */
}

.search_input:focus {
    background-color: #ffffff; /* Background color on focus */
    border-color: yellow; /* Border color on focus */
    color: black;

}


.trending_container{
    background: linear-gradient(to bottom, rgba(0,0,0,0), yellow);
    /*background-image:  url("./profile/porsche.jpg");*/
    animation:backAn 50s infinite;
    height: 750px;
    width:  100%;

}

.text_container {
  color: var(--global-color-fg);
  border-bottom: 2px solid yellow; /* Adjust the thickness and color as needed */
}
/* ------------------------------------------------------------------------ */

.slider-container{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-images{
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 90px;
}
.slider-images img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 90px;

}
.slider-img{
  width: 10%;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  transition: 0.7s ease;
}
.slider-images .slider-img:first-child, .slider-images .slider-img:last-child{
  height: 400px;
}
.slider-images .slider-img:nth-child(2), .slider-images .slider-img:nth-child(8){
  height: 500px;
}

.slider-images .slider-img:nth-child(3), .slider-images .slider-img:nth-child(7){
  height: 550px;
}

.slider-images .slider-img:nth-child(4), .slider-images .slider-img:nth-child(6), .slider-images .slider-img:nth-child(5){
  height: 665px;
}


.details{
  position: absolute;
  bottom: 43px;
  left: 43px;
}
.details_h2{
  font-family: "Jost", sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-align: left;
  line-height: 44px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  transition: 0.7s ease;
  display: none;
}
.details_p{
  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  line-height: 33px;
  text-align: left;
  color: gray;
  text-transform: uppercase;
  transition: 0.7s ease;
  display: none;
}
.slider-img.active{
  width: 1066px !important;
  height:  700px !important;
}
.slider-img.active h1{
   display: none;
}
.slider-img.active .details p, .slider-img.active .details h2{
  display: block;
}

/* ----------------------------------------------------------------------------------*/


.show_title_section{
  height: 45px;
  width: 100%;
}



/* --------------------------------------------------------------------------------------------------*/
.recommended_container{
    height: 300px;
    width:  100%;

}

.movie-list-container {
  height: 100%;
  width: 100%;
}

.movie-list-wrapper {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.movie-list {
  display: flex;
  align-items: center;
  height: 100%;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.movie-list-item {
  margin-right: 30px;
  position: relative;
}

.movie-list-item:hover .movie-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
}


.movie-list-item:hover .movie-list-item-button   {
  opacity: 1;
}

.movie-list-item:hover .movie-list-item-title{
  opacity: 1;
}

.movie-list-item-img {
  transition: all 1s ease-in-out;
  width: 270px;
  height: 200px;
  object-fit: cover;
  border-radius: 30px;
}



.movie-list-item-button {
  padding: 10px;
  background-color: #4dbf00;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}
.movie-list-item-title {
  padding: 10px;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  position: absolute;
  bottom: 0px;
  left: 45px;
  opacity: 0;
  align-items: center;
  transition: 1s all ease-in-out;
  color: gray;
}

.arrow {
  font-size: 120px;
  position: absolute;
  top: 0px;
  right: 0;
  color: lightgray;
  opacity: 0.5;
  cursor: pointer;
}

.container.active {
  background-color: white;
}

.movie-list-title.active {
  color: black;
}

.navbar-container.active {
  background-color: white;

  color: black;
}

.sidebar.active{
    background-color: white;
}

.left-menu-icon.active{
    color: black;
}

.toggle.active{
    background-color: black;
}

.toggle-ball.active{
    background-color: white;
    transform: translateX(-20px);
}

@media only screen and (max-width: 940px){
    .menu-container{
        display: none;
    }
}

/* --------------------------------------------------------------------------------------------------*/
.grid_container{
    height: auto;
    width:  100%;
}

.movies-container{
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px,auto));
    gap: 3rem;
    margin-top: 2rem;

}
.box .box-img{
    width: 100%;
    height: 270px;
    cursor: pointer;
    background-color: yellow;
    border-radius: 40px 40px 40px 40px;


}
.box .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px 40px 40px 40px;

}
.box .box-img img:hover{
    transform: translateY(-10px);
    transition: 0.2s all linear;
}
.box h3{
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
}
.container_span{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: .85em;

}
